### FINe FINISH 3D  ########
#### V2.4-5515, 300mm, Octopus Max EZ, Can-Bus #############

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 2.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 30.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 25.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 8.0   ; the value to retract while PAUSE
variable_cancel_retract   : 18.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 30.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 25.0  ; z move speed in mm/s
#variable_speed_move       : 150.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 20.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 296.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract  : True ; use fw_retraction instead of the manual version [True/False]
gcode:

[force_move]
enable_force_move: True

[include mainsail.cfg]
[include macros.cfg]
[include sensorless.cfg]
[include KAMP_Settings.cfg]
[include timelapse.cfg]
[include leds.cfg]
[include air_filter_timer.cfg]

[exclude_object]
[virtual_sdcard]
[pause_resume]
[display_status]

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[respond]
default_type: command

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_310018001651303531313638-if00
restart_method: command
#canbus_uuid: b4a737e8f525

[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: a8036753aa32

[printer]
kinematics: corexy
max_velocity: 300 
max_accel: 9000           
max_z_velocity: 15          
max_z_accel: 350
max_accel_to_decel: 5500
square_corner_velocity: 5.0

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 150, 125, 15
accel_chip: adxl345

# ############################################################################################
# ─────────██─██─██─██────███─███─███─████─████─███─████────███─███─███─███─███─█──█─████─███
# ──────────███───███─────█────█──█───█──█─█──█─█───█──█────█───█────█───█───█──██─█─█────█──
# ───────────█─────█──────███──█──███─████─████─███─████────███─███──█───█───█──█─██─█─██─███
# ──────────███────█────────█──█──█───█────█────█───█─█───────█─█────█───█───█──█──█─█──█───█
# ─────────██─██───█──────███──█──███─█────█────███─█─█─────███─███──█───█──███─█──█─████─███
# ############################################################################################

# Motor-1 (B)
[stepper_x]
step_pin: PC13
dir_pin: PC14
enable_pin: !PE6
rotation_distance: 40 
microsteps: 32
full_steps_per_rotation: 400 
endstop_pin: tmc5160_stepper_x: virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 65
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_x] #RGB
cs_pin: PG14
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
diag1_pin: ^!PF0
interpolate: True
driver_MULTISTEP_FILT: False
driver_SGT: -2  # -64 is most sensitive value, 63 is least sensitive
run_current: 0.9
sense_resistor: 0.050
stealthchop_threshold: 0

# Motor-2 (A)
[stepper_y]
step_pin: PE4
dir_pin: PE5
enable_pin: !PE3
rotation_distance: 40 
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_y: virtual_endstop #PF2
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 65
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y] #RGB
cs_pin: PG13
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
diag1_pin: ^!PF2
interpolate: True
driver_MULTISTEP_FILT: False
driver_SGT: -2  # -64 is most sensitive value, 63 is least sensitive
run_current: 0.9
sense_resistor: 0.050
stealthchop_threshold: 0

# ###################################################################################################
# ─────────████────███─███─███─████─████─███─████────███─███─███─███─███─█──█─████─███
# ───────────██────█────█──█───█──█─█──█─█───█──█────█───█────█───█───█──██─█─█────█──
# ──────────██─────███──█──███─████─████─███─████────███─███──█───█───█──█─██─█─██─███
# ─────────██────────█──█──█───█────█────█───█─█───────█─█────█───█───█──█──█─█──█───█
# ─────────████────███──█──███─█────█────███─█─█─────███─███──█───█──███─█──█─████─███
# ###################################################################################################

# Motor-3 (FL)
[stepper_z]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
position_max: 260
position_min: -5
homing_speed: 50
second_homing_speed: 5
homing_retract_dist: 0 # beacon needs this to be set to 0

[tmc5160 stepper_z] #RGB
# cs_pin: PG12
cs_pin: PD7
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
driver_MULTISTEP_FILT: False
interpolate: True
run_current: 0.9
sense_resistor: 0.050
stealthchop_threshold: 999999

# Motor-4 (RL)
[stepper_z1]
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#full_steps_per_rotation: 200

[tmc5160 stepper_z1] #RGB
cs_pin: PG11
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
driver_MULTISTEP_FILT: False
interpolate: True
run_current: 0.9
sense_resistor: 0.050
stealthchop_threshold: 999999

# Motor-5 (RR)
[stepper_z2]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#full_steps_per_rotation: 200

[tmc5160 stepper_z2] #RGB
cs_pin: PG10
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
driver_MULTISTEP_FILT: False
interpolate: True
run_current: 0.9
sense_resistor: 0.050
stealthchop_threshold: 999999

# Motor-6 (FR)
[stepper_z3]
step_pin: PG15
dir_pin: PB3
enable_pin: !PD5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#full_steps_per_rotation: 200

[tmc5160 stepper_z3] #RGB
cs_pin: PG9
spi_software_miso_pin: PE13
spi_software_mosi_pin: PE14
spi_software_sclk_pin: PE12
driver_MULTISTEP_FILT: False
interpolate: True
run_current: 0.9
sense_resistor: 0.050
stealthchop_threshold: 999999

# ####################################################
# ─────────███─██─██─███─████─█─█─████──███─████──────
# ─────────█────███───█──█──█─█─█─█──██─█───█──█──────
# ─────────███───█────█──████─█─█─█──██─███─████──────
# ─────────█────███───█──█─█──█─█─█──██─█───█─█───────
# ─────────███─██─██──█──█─█──███─████──███─█─█───────
# ####################################################

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
rotation_distance: 22.02
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
instantaneous_corner_velocity: 1.5
heater_pin: EBBCan:gpio7
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
smooth_time: .3
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 350
max_power: 1.0
min_extrude_temp: 180
max_extrude_cross_section: 5.0
max_extrude_only_distance: 101.0
pressure_advance: 0.03
pressure_advance_smooth_time: 0.04

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.600
stealthchop_threshold: 0

# [verify_heater extruder]
# hysteresis: 10
# check_gain_time: 40
# heating_gain: 2
# max_error: 500

[firmware_retraction]
retract_length: .7
retract_speed: 30
unretract_speed: 10

[gcode_arcs]
resolution: 0.1

# #############################################################
# ─────────████──███─████─────█──█─███─████─███─███─████──────
# ─────────█──██─█───█──██────█──█─█───█──█──█──█───█──█──────
# ─────────████──███─█──██────████─███─████──█──███─████──────
# ─────────█──██─█───█──██────█──█─█───█──█──█──█───█─█───────
# ─────────████──███─████─────█──█─███─█──█──█──███─█─█───────
# #############################################################

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
smooth_time: 3.0
sensor_type: Generic 3950
max_power: 0.9
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

# [verify_heater heater_bed]
# hysteresis: 3
# check_gain_time: 240

[idle_timeout]
timeout: 7200


# #####################################################################
# ─────────███─████─█──█────████─████─█──█─███─████─████─█────────
# ─────────█───█──█─██─█────█──█─█──█─██─█──█──█──█─█──█─█────────
# ─────────███─████─█─██────█────█──█─█─██──█──████─█──█─█────────
# ─────────█───█──█─█──█────█──█─█──█─█──█──█──█─█──█──█─█────────
# ─────────█───█──█─█──█────████─████─█──█──█──█─█──████─███──────
# #####################################################################

[fan]
# Parts Cooling Fan #
pin: EBBCan:gpio13
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: EBBCan:gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 65.0
fan_speed: 0.7

[heater_fan Can_Fan]
pin: EBBCan:gpio6
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 30.0
fan_speed: 0.7

# [fan_generic Nevermore]
# pin: PA3
# # tachometer_pin: EBBCan:gpio12
# # tachometer_ppr: 1

[heater_fan Electronics3]
pin: PA5
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.3
heater: heater_bed
heater_temp: 20
fan_speed: 0.7

[heater_fan Electronics2]
pin: PA4
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.3
heater: heater_bed
heater_temp: 20
fan_speed: 0.7

[heater_fan Electronics1]
pin: PA6
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.3
heater: heater_bed
heater_temp: 20
fan_speed: 0.5

[heater_fan Nevermore]
pin: PA3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 60
fan_speed: 0.7

# #########################################################
# ───███─███─█──█─███─████─████────███─███─███─█─█─████───
# ───█───█───██─█─█───█──█─█──█────█───█────█──█─█─█──█───
# ───███─███─█─██─███─█──█─████────███─███──█──█─█─████───
# ─────█─█───█──█───█─█──█─█─█───────█─█────█──█─█─█──────
# ───███─███─█──█─███─████─█─█─────███─███──█──███─█──────
# #########################################################

[temperature_sensor Octopus-Max]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80
 
[temperature_sensor RasPI]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor BTT-SB2209]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

# [temperature_sensor TMC5160]
# sensor_type: Generic 3950
# sensor_pin: PC5

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

# [temperature_sensor chamber_temp]
# ## Chamber Temperature - T1
# sensor_type: CMFB103F3950FANT
# sensor_pin: PF5
# min_temp: 0
# max_temp: 100
# gcode_id: chamber_th

# ############################################
# ─────────████─████─████─████──███─────────
# ─────────█──█─█──█─█──█─█──██─█───────────
# ─────────████─████─█──█─████──███─────────
# ─────────█────█─█──█──█─█──██─█───────────
# ─────────█────█─█──████─████──███─────────
# #############################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_6CEC5A9A4E4B333448202020FF0A183F-if00
speed: 10                             
lift_speed: 10                        
backlash_comp: 0.01005         
x_offset: 0
y_offset: 20
trigger_distance: 2
default_model_name: default         
mesh_main_direction: x
mesh_runs: 2

[safe_z_home]
home_xy_position: 150, 130
speed: 200
z_hop: 3
# z_hop_speed: 10

[quad_gantry_level]
gantry_corners:
  -60,-10
  360,370
points:
  30,10
  30,225
  260,225
  260,10

speed: 200
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.006
max_adjust: 10

[bed_mesh]
algorithm: bicubic
#bicubic_tension: 0.1
speed: 200
horizontal_move_z: 5
mesh_min: 35, 20
mesh_max: 250, 255
# fade_start: 0.6
# fade_end: 10.0
mesh_pps: 2,2
probe_count: 25,15 # Values should be odd, so one point is directly at bed center


# ##################################
# ──────█──█─███─████─███──────
# ──────██─█─█───█──█─█────────
# ──────█─██─███─█──█─███──────
# ──────█──█─█───█──█───█──────
# ──────█──█─███─████─███──────
# ################################

[neopixel Light_Show]
pin: PE10
chain_count: 13
color_order: GRBW
initial_red: 0.8
initial_green: 0.9
initial_blue: 0.8
initial_WHITE: 0.0

[neopixel V3D_Neo]
pin: PE9
chain_count: 17
color_order: GRBW
initial_RED: 0.8
initial_GREEN: 0.8
initial_BLUE: 0.9
initial_WHITE: 0.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 69.0
#*# shaper_type_y = zv
#*# shaper_freq_y = 43.2
#*#
#*# [beacon model default]
#*# model_coef = 1.5860596680179535,
#*# 	  1.905854183904079,
#*# 	  0.7186314933959891,
#*# 	  0.3217899418469011,
#*# 	  0.36589099632407357,
#*# 	  0.27578880836088937,
#*# 	  -0.2938453217792783,
#*# 	  -0.24317959315801396,
#*# 	  0.2247864243581984,
#*# 	  0.1427824670726387
#*# model_domain = 3.276390253284813e-07,3.3595371588052655e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 40.847912
#*# model_offset = -0.34000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.175425, -0.170955, -0.166047, -0.161942, -0.165737, -0.172091, -0.177325, -0.177375, -0.180049
#*# 	  -0.125386, -0.122552, -0.118457, -0.112149, -0.111381, -0.120309, -0.127566, -0.130140, -0.134075
#*# 	  -0.064320, -0.061721, -0.053980, -0.045399, -0.047913, -0.055554, -0.067727, -0.074483, -0.075428
#*# 	  0.015299, 0.018690, 0.024478, 0.028019, 0.027092, 0.016816, 0.006788, 0.001266, -0.000324
#*# 	  0.094314, 0.099162, 0.104853, 0.106047, 0.100764, 0.094639, 0.086318, 0.084629, 0.083005
#*# 	  0.185068, 0.187272, 0.194127, 0.195773, 0.188299, 0.179836, 0.173703, 0.172808, 0.171896
#*# 	  0.256308, 0.260160, 0.263293, 0.259861, 0.254645, 0.245696, 0.239432, 0.239110, 0.236639
#*# x_count = 9
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 96.62589999999999
#*# max_x = 210.34
#*# min_y = 112.944
#*# max_y = 197.02300000000002
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.510
#*# pid_ki = 2.435
#*# pid_kd = 272.358
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.511
#*# pid_ki = 2.122
#*# pid_kd = 70.779
