[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.9 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G0028 X0
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}


# [gcode_macro _HOME_X]
# gcode:
#     # Always use consistent run_current on A/B steppers during sensorless homing
#     {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
#     {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
#     {% set HOME_CURRENT = 0.7 %}
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

#     # Home
#     G28 X
#     # Move away
#     G91
#     G1 X-10 F12000
    
#     # Wait just a second… (give StallGuard registers time to clear)
#     G4 P10000
#     # Set current during print
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

 ######################################################################################################################################################

# [gcode_macro _HOME_X]
# gcode:
#     ## Set HOME_CURRENT to the current value that was in effect when you calculated stallguard sensitivity.  
#     ## This should initially be what is set in your printer.cfg file for the x & y steppers.  
#     ## Having this here will allow you to change motor current values in the printer.cfg file in the future while 
#     ## eliminating the need to recalculate stall guard sensitivity.
#     {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
#     {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
#     {% set HOME_CURRENT = 0.8 %}  ## Change this to the vlaue you used when calibrating stallguard.  In your printer.cfg.
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

#     ## Uncomment the following to temporarily change acceleration if you are getting TMC Driver Undercurrent errors. 
#     #{% set RUN_ACCEL = printer.configfile.settings['printer'].max_accel|int %}    
#     #{% set HOME_ACCEL = 1000 %}
#     #SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL}

#     ## Home
#     G0028 X0
#     ## Move away
#     G91
#     G1 X-10 F1200
    
#     G4 P1000  # Wait 2 seconds… (give StallGuard registers time to clear).  You may need to give this more time if it's not reliable.

#     ##  Set the current back to what's in the printer.cfg file. 
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

#     ## Only uncomment if the code to modify acceleration above was uncommented.
#     #SET_VELOCITY_LIMIT ACCEL={RUN_ACCEL}

# ##############################################################################################################################################

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.9 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G0028 Y0
    # Move away
    G91
    G1 Y-10 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

#################################################################################################

# [gcode_macro _HOME_Y]
# gcode:
#     ## Set HOME_CURRENT to the current value that was in effect when you calculated stallguard sensitivity.  
#     ## This should initially be what is set in your printer.cfg file for the x & y steppers.  
#     ## Having this here will allow you to change motor current values in the printer.cfg file in the future while 
#     ## eliminating the need to recalculate stall guard sensitivity.
#     {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
#     {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
#     {% set HOME_CURRENT = 0.9 %}   ## Change this to the vlaue you used when calibrating stallguard.  In your printer.cfg.
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

#     ## Uncomment the following to temporarily change acceleration if you are getting TMC Driver Undercurrent errors.
#     #{% set RUN_ACCEL = printer.configfile.settings['printer'].max_accel|int %}    
#     #{% set HOME_ACCEL = 1000 %}
#     #SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL}

#     # Home
#     G0028 Y

#     # Move away so the x-axis is no longer touching the back of the gantry
#     G91
#     G1 Y-3 F1200

#     G4 P1200  # Wait 2 seconds… (give StallGuard registers time to clear).  You may need to give this more time if it's not reliable.

#     ##  Set the current back to what's in the printer.cfg file. 
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

#     ## Only uncomment if the code to modify acceleration above was uncommented.
#     #SET_VELOCITY_LIMIT ACCEL={RUN_ACCEL} 

###########################################################################################

# [homing_override]
# axes: xyz
# gcode:
#   {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

#   {% if home_all or 'X' in params %}
#     _HOME_X
#   {% endif %}
  
#   {% if home_all or 'Y' in params %}
#     _HOME_Y
#   {% endif %}
  
#   {% if home_all or 'Z' in params %}
#     G28 Z
#     G1 Z10
#   {% endif %}

##########################################################################################

[gcode_macro G28]
rename_existing: G0028
variable_homing:False
gcode:
    SET_GCODE_VARIABLE MACRO=G28 VARIABLE=homing VALUE=True
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% if home_all or 'X' in params %}
        _HOME_X
    {% endif %}
    {% if home_all or 'Y' in params %}
        _HOME_Y
    {% endif %}
    {% if home_all or 'Z' in params %}
        G90
        G1 X150 Y130 F12000 
        G0028 Z   ## Home Z
        G1 Z10 F12000
    {% endif %}
    SET_GCODE_VARIABLE MACRO=G28 VARIABLE=homing VALUE=False